

/*GLOBALES*/



/*GLOBALES*/

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #6ea8c9;
    --secondary-color: #2b78a2;
    --terciary-color: #b6dcb6;
    --primary-font: "Poppins", sans-serif;
    --secondary-font: "Roboto", sans-serif;
}

.fuente-primaria{
    font-family: var(--primary-font);
    color:black;
    text-decoration: none;
}

.fuente-secundaria{
    font-family: var(--secondary-font);
    color:(black);
}

.fuente-azul{
    color: var(--primary-color);
}

/* NAV */

.nav{
    background-color: white;
    padding: 20px;
    margin-bottom: 30px;
}

.nav-div{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

/*ASIDE*/

.aside-ul{
    list-style: none;
    
}

.aside-li{
    margin-bottom: 15px;
    margin-left: 5%;
}

.aside-button{
    padding: 20px;
    color:white;
    background-color: #cacaca71;
    backdrop-filter: blur(6px);
    border: solid 1px;
    border-color: #a1a1a1;
    text-align: center;
    border-radius: 7px;
    box-shadow: 0 8px 32px 0 #555555;
}

.aside-button:hover{
    background-color: var(--secondary-color);
    color: white;
}

@media (min-width:768px){
    .aside-button{
        padding: 20px;
        height: 90px;
        width: 120px;
    }
}


/*MAIN*/

body{
    background-image: url("img/form-background.jpg");
}

.div-flex-dat{
    display:flex;
    justify-content: space-evenly;
}

.datos{
    text-align: center;
}

.div-dat{
    color:white;
    font-family: var(--primary-font);
    margin-right: 5%;
    background-color: #cacaca71;
    backdrop-filter: blur(6px);
    border: solid 1px;
    border-color: #a1a1a1;
    text-align: center;
    border-radius: 7px;
    box-shadow: 0 8px 32px 0 #555555;
  }

/*

*/
  
/*Flex-Aside*/
@media (min-width: 768px){


.flex-aside{
    display: flex;
    justify-content: space-between;
}

.div-aside{
    flex:1;
}

.div-dat{
    flex:5;
}

}